

<body>
  <div class="container form main-class">


    <div class="overlay js-overlay-campaign" (click)="CloseByMousePressing($event)">
      <div class="popup js-popup-campaign" id="overlay" (click)="ClosePicture()">
        <div class="close-popup js-close-campaign"></div>
      </div>
    </div>
    <table cellspacing="0" id="maket">
      <thead class="fixed-top">

        <div class="container">
          <div id="sitename">
            <a href="/search" title="Home" class="pull-left">
              <span class="twitter-bird"></span>twitter.rybalko</a>
          </div>
        </div>
       



        <div class="search-text clearfix">

          <input id="search-field" type="text" class="input-search  " placeholder="Search" [(ngModel)]="searchQuery" name="model" required
            maxlength="30" (keypress)="onSearchPressingEnter(e)">
          <button type="submit" class="btn-search " (click)="makecall()" id="search"></button>


        </div>
       
      </thead>
      <tr>
        <td id="leftcol">
          <div class="row">
            <div *ngFor="let item of array" class="col-12 col-lg-12 mr-b " id="main-content">

              <div class="tweet" id="tweet" dnd-draggable [dragEnabled]="true" (onDragStart)="saveCurrentItem(item)">
                <div class="tweet-image ">
                  <a>
                    <img src="{{item.photo}}" (click)="viewPicture(item)">
                  </a>

                </div>
                <span class="tweet-title clearfix">
                  <span class="username">User name: </span>{{item.screen_name}}</span>
                <hr>
                <div class="right-content clearfix">
                  <div class="tweet-content clearfix">
                    <p id="paragraph">{{item.text}}

                    </p>

                  </div>
                  <button class="show-more" (click)="showFullTweet(item)" [hidden]="isHasLink(item)">Show more</button>
                  <hr>
                  <button id="followbtn" type="submit" (click)="followme(item)" [hidden]="item.isFollow">Follow</button>
                </div>
              </div>
            </div>
          </div>
          <div id="downloading"></div>
        </td>


        <td id="rightcol" dnd-droppable (onDropSuccess)="addFollowersByDrag()">
          <h1>Favourites</h1>
          <div class="row">
            <div *ngFor="let item of followers" class="col-12 col-lg-12 mr-b">
              <div class="tweet " >
                <div class="tweet-image">
                  <a>
                    <img src="{{item.photo}}" (click)="viewPicture(item)">
                  </a>
                </div>
                <span class="follow-tweet-title clearfix">{{item.name}}</span>
                <div class="right-content ">
                  <button type="submit" class="unfollow-btn" (click)="unfollowme(item)" id="unfollow">Unfollow</button>
                  <button type="submit" class="show-more " (click)="showTimeline(item)">Timeline</button>
                </div>

              </div>

            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</body>